/* the master holder of all exercise boxes */
#ExerciseBoxContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.ExerciseBox
{
    background-color: white;
    margin: 20px;
    padding:0;
    border: 3px red solid;
    white-space: normal;
    width: 35vw;
}

@media screen and (max-width: 700px) {
    .ExerciseBox {
      width: 70vw;
    }
  }

  /* the exercise name */
.ExerciseBox h1
{
    color:black;
    text-align: center;
    font-size: min(30px, 5vw);
}

/* all of the text under the exercise name */
.ExerciseBox p 
{
    margin-left: 20px;
    margin-right: 20px;
}

/* the muscle name of exercise */
.muscleNameInBox
{
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: min(20px, 4.5vw);
    line-height: 0;

}

/* the textbox of description and helpful tips */
.contentInBoxTitle
{
    text-align: left;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-size: min(20px, 4vw);
}

/* the information in the description and helpful tips */
.contentInBox
{
    font-size: min(18px, 3.5vw);
    font-weight: normal;
    color: black;
    display: block;
    word-wrap:break-word;
}

.hideContentInBox
{
    display: none !important;
}

#Video
{
    width: 31vw;
    height: 20vw;
}