/* all muscle structure subclasses share this parent css such that they can have the same classes for muscles that
are the same between teh structures (like the shoulder that are on both structures */


.MuscleActive
{
    fill: #2dc937;
}

.MuscleActive:hover {
    fill: #e7b416;
}

.MuscleInactive:hover {
    fill: #e7b416;
}

.MuscleInactive {
    fill: #cc3232;
}


