.MuscleActive {
    background-color: #2dc937;
}

@media (hover:hover) {
    .MuscleActive:hover {
        background-color: #e7b416;
    }
}

@media (hover:hover) {
    .MuscleInactive:hover {
        background-color: #e7b416;
    }
}

.MuscleInactive {
    background-color: #cc3232;
}


.muscleButton
{
    color: white;
}

#buttonsHolder, .buttonSubgroup
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonHolderHolder
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}